@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header_text {
  font-family: "EB Garamond", serif;
}
.dark_06 {
  color: #e7e7e7;
}
.dark_03 {
  color: #707070;
}

main {
  background-image: url(/images/banner.png);
}

.slider_1 {
  background: rgba(17, 17, 17, 0.8);
  width: 1182px;
  height: 500px;
  background-image: url(/images/slider-1.jpg);
}

.slider_2 {
  background: rgba(17, 17, 17, 0.8);
  width: 1182px;
  height: 500px;
  background-image: url(/images/banner.png);
}

.slider_3 {
  background: url(handsome-confident-smiling-man-with-hands-crossed-chest.jpg);
  background: rgba(17, 17, 17, 0.8);
  width: 1182px;
  height: 500px;
  background-image: url(/images/slider-3.jpg);
}
